<div class="products-container m-5 px-5">
    <div class="row">
        <ng-container *ngFor="let product of productList">
            <div class="product col-lg-3 col-md-4 col-sm-6 p-2 " >
                <div class="single-blog " style="cursor: pointer; ">
                    <img src="{{product.image}}" alt="Dress A " class="p-2">
                    <div class="card-content ">
                        <h2 id="product-title " class="product-title ">{{product.title}}</h2>
                        <h3 id="product-gender " class="product-gender d-none ">women</h3>
                        <h3 id="product-category " class="product-category d-none ">#Dress #Formal #Women </h3>
                        <h3 class="cost ">{{product.price}}$</h3>
                    </div>
                    <div class="card-btn btn-group ">
                        <a class="btn-info more-info btn " href="# " >More info</a>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>
