<div class="products-container m-5 px-5">
    <div class="row">
        <ng-container *ngFor="let product of productList">
            <div class="product col-lg-3 col-md-4  p-2 " >
                <div class="single-blog " style="cursor: pointer; ">
                    <img src="{{product.image}}" alt="Dress A " class="p-2">
                    <div class="card-content ">
                        <h2 class="product-title ">{{product.title}}</h2>
                        <h3 class="product-desc">{{product.description}}</h3>
                        <h3 class="cost ">{{product.price}}$</h3>
                    </div>
                    <div class="card-btn btn-group ">
                        <a class="btn-info more-info btn " (click)="addToCart(product)" >add to cart</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
