<div class="products-container m-3">
    <div class="row">
        <ng-container *ngFor="let product of productList">
            <div class="product col-lg-3 col-md-4  p-2" >
                <div class="single-blog shadow-lg" style="cursor: pointer; ">
                    <img src="{{product.image}}" alt="{{product.title}}">
                    <div class="card-content ">
                        <h2 class="product-title ">{{product.title}}</h2>
                        <h3 class="product-desc">{{product.description}}</h3>
                        <div class="price-box d-flex justify-content-between">
                            <h3 class="cost justify-content-start">{{product.price}}$</h3>
                            <a class="justify-content-end more-info " [routerLink]="['/product', product.id, 'details']">more info</a>
                        </div>
                    </div>
                    <div class="card-btn btn-group ">
                        <a class="btn-info more-info btn " (click)="addToCart(product)" >add to cart</a>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
