@import "../../../styles.scss";
@import "../../../assets/styles/variable.scss";


.products-container {
    position: relative;
    padding: 2rem 4rem;
    @media only screen and (max-width: 768px) {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    @media only screen and (max-width: 410px) {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
        h2 {
            font-size: 13px !important;
        }
    }

    .product {
        padding: .75rem;
        width: 20%;
        @media screen and (max-width: 991px) {
            flex: 0 0 25% !important;
            width: 25% !important;
            padding: .75rem 10px;
        }

        @media screen and (max-width: 767px) {
            flex: 0 0 33% !important;
            width: 33% !important;
            padding: .75rem 5px;
        }

        @media screen and (max-width: 480px) {
            flex: 0 0 50% !important;
            width: 50% !important;
            padding: .75rem 5px;
        }


        .single-blog {
            background: $white;
            margin-bottom: 10px;
            &:hover {
                margin-top: -5px !important;
            }
            img {
                width: 100%;
                height: 200px;
                &:hover {
                    @include prefixer (animation, fadeInOut 3s infinite linear, webkit moz);
                }
            }
            .card-content {
                padding: 0px 10px;
            }
            .product-title,.product-desc{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: $font-size-lg;
                font-weight: $font-normal;
                @media screen and (max-width:767px) {
                    font-size: $font-size-sm;
                }
            }
            .product-title{
                font-weight: $font-bold;
            }
            .cost {
                font-size: $font-size-lg !important;
                font-weight: $font-bold;
                color: $danger;
            }

        }
    }
    .card-btn {
        width: 100%;
        margin: 0px;
        padding: 0px;
        .btn {
            width: 100%;
            margin: 0px;
            border-radius: 0px;
            color: #fff;
            &:hover{
                font-weight: $font-bold;
            }
        }
    }

}

a.more-info{
    text-decoration: underline !important;
    color: $danger;
    margin-top: -5px;
    font-weight: 500;
}