<div class="product-info-container">
    <div class="container position-relative">
        <div class="row">
            <div class="image-box col-lg-4 col-md-3 col-sm-4">
                <div class="image">
                    <img src="{{product.image}}" alt="">
                </div>
            </div>
            <div class="info-box col-lg-8 col-md-9 col-sm-8">
                <div class="card p-3 m-3 ">
                    <h5 class="title">{{product.title}}</h5>
                    <h5 class="category">{{product.category}}</h5>
                    <p class="desc">{{product.description}}</p>
                    <h5 class="price">Price : {{product.price}}$</h5>
                    <h5 class="likes mr-2">
                        <span class="like-count">{{product.rating.count}}</span>
                        <i class="far fa-thumbs-up"></i>


                    </h5>
                    <h5 class="stars">
                        <ul class="list-inline rating-list"
                        *ngFor="let star of stars" style="display: inline-block" >
                            <li [ngClass]="{'selected': (star <= selectedValue)}">
                                <i class="fa fa-star"></i>
                                </li>
                        </ul>
                    </h5>
                    <button class="btn btn-info px-3" (click)="addToCart(product)">add to cart </button>
                </div>
            </div>
        </div>
    </div>
</div>