<header>
    <nav class="navbar navbar-expand-lg bg-white shadow-lg">
        <div class="container-fluid ">
            <div class="d-flex">
                <a class="navbar-brand" routerLink="home">
                    <img class="logo d-none"  src="assets/imgs/myLogo.png">
                    <h2 class="logo-text">MyShop</h2>
                </a>
                <form class="search-box position-relative d-none" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search search-icon"></i>
                </form>
            </div>

          <div class="header-btn d-flex">
            <button class="btn position-relative login-btn" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fas fa-sign-in-alt "><span class="pl-3">Login | Sing up</span></i>
            </button>
            <h3 class="virtical-line">|</h3>
            <button class="btn position-relative" routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fas fa-cart-plus">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{qty}}</span>
                    <span class="visually-hidden">unread messages</span>
                </i>
            </button>
          </div>
        </div>
      </nav>
</header>