<div class="swiper">
  <swiper
  [slidesPerView]="1"
  [spaceBetween]="30"
  [loop]="true"
  [autoplay]="{
    delay: 2000,
    disableOnInteraction: false
  }"
  [effect]="'fade'"
  [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }"
>
  <ng-template swiperSlide class="swiper-slide">
    <img class="swiper-image" src="assets/imgs/uploads/adsFullWidth/IDBYO0ZB0X-C5AGTFQOBO-Library-full-width-4.jpg">
    <div class="swiper-slide-caption">
      <h5 class="myad-text ">Sale up to 50% off</h5>
      <p class="myad-text ">coming soon</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="swiper-image" src="assets/imgs/uploads/adsFullWidth/OFNZ4VR2TC-WhatsApp Image 2020-06-14 at 4.33.43 PM.jpeg">
    <div class="swiper-slide-caption">
      <h5 class="myad-text ">اهلا وسهلا في محلي</h5>
      <p class="myad-text ">التسوق معنا اسهل</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="swiper-image" src="assets/imgs/uploads/adsFullWidth/VWYKKSQ4Q7-ZDV1SBSE9K-Library-full-width-3.jpg">
    <div class="swiper-slide-caption">
      <h5 class="myad-text ">New Day</h5>
      <p class="myad-text ">New Model </p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="swiper-image" src="assets/imgs/uploads/adsFullWidth/models.jpg">
    <div class="swiper-slide-caption">
      <h5 class="myad-text ">Welcome into myShop</h5>
      <p class="myad-text ">Shopping with us is easier</p>
    </div>
  </ng-template>
</swiper>
</div>

