@import '~swiper/scss';
@import '~swiper/scss/navigation';
@import '~swiper/scss/pagination';


a{

    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    &:hover,&:visited,&:focus,&:focus-visible,&:focus-within{
        color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    }
}
.mybtn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin: 3rem auto 0 auto;
    &:hover{
        background-color: #fff;
        color: #ef394e;
    }

}
.sm-btn{
    display: none;
    @media screen and(max-width:991px) {
        margin: 15px auto;
        display: block !important;
        position: relative !important;
        z-index: 1000;
    }
}
.offers-container{
    margin: 10px 0;
    background: linear-gradient(to right, #17a2b8, #a62a2a, #aaa, #17a2b8);
    position: relative;
    padding: 20px;
    max-height: 440px;
    .offers-caption{
        position: relative;
        margin-top: 50px;
        @media screen and (max-width:991px){
            display: none;
        }
        img{
            width: 150px;
            height: 150px;
            margin: auto;

        }
    }
    .swiper-container{
        position: relative;
        height: 350px;
        .swiper-wrapper{
            max-height: 350px;
        }
        .swiper-slide{
            border-radius: 25px;
            position: relative;
            background-color: white;
            max-height: 100%;
            &:hover{
                margin-top: 10px;
                cursor: pointer;
            }
            .product{

                img{
                    height: 250px;
                    width: 100%;
                    object-fit: contain;
                    display: block;
                    border-radius: 25px;
                    padding: 5px;
                }
                .title{
                    padding: 0 15px;
                    font-size: 18px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                }
                .caption{
                    font-size: 14px;
                    padding: 0 15px;
                    position: relative;
                    .sale{
                        font-size: 1rem;
                        width: 50px;
                        background-color: #ef394e;
                        border-radius: 25px;
                        color: #fff;
                        padding: 3px;
                        text-align: center;

                    }
                    del{
                        margin-left:5px;
                        padding-top: 5px;
                        position: absolute;
                    }
                }
                .price{
                    font-size: 15px;
                    padding-left: 2px;
                }
            }
        }

    }
    .swiper-button-white {
        height: 75px;
        position: absolute;
        color: #434343;
        background: #fff;
        width: 36px;
        border-radius: 5px;
        box-shadow: 0 1px 4px;
    }
    .swiper-button-next {
        right: 0rem;
    }
    .swiper-button-prev {
        left: 0rem;
    }
}
