@import '~swiper/scss';
@import '~swiper/scss/navigation';
@import '~swiper/scss/pagination';
@import '../../../assets/styles/variable.scss';



.offers-container{
    margin: 10px 0;
    background: linear-gradient(to right, #17a2b8, #a62a2a, #aaa, #17a2b8);
    position: relative;
    padding: 20px;
    max-height: 440px;
    .offers-caption{
        position: relative;
        margin-top: 50px;
        @media screen and (max-width:991px){
            display: none;
        }
        img{
            width: 150px;
            height: 150px;
            margin: auto;
        }
    }
    .swiper-container{
        position: relative;
        height: 350px;
        @media screen and (max-width:767px) {
            height: 275px;
        }
        .swiper-wrapper{
            max-height: 350px;
            @media screen and (max-width:767px) {
                height: 275px;
            }
        }
        .swiper-slide{
            border-radius: 25px;
            position: relative;
            background-color: $white;
            max-height: 100%;
            &:hover{
                margin-top: 10px;
                cursor: pointer;
            }
            .product{
                img{
                    height: 250px;
                    width: 100%;
                    object-fit: contain;
                    display: block;
                    border-radius: 25px;
                    padding: 5px;
                    @media screen and (max-width:767px) {
                        height: 175px;
                    }
                }
                .title{
                    padding: 0 15px;
                    font-size: $font-size-lg;
                    font-weight: $font-bold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .caption{
                    font-size: $font-size-lg;
                    padding: 0 15px;
                    position: relative;
                    .sale{
                        font-size: $font-size-lg;
                        width: 35px;
                        background-color: $danger;
                        border-radius: 25px;
                        color: $white;
                        padding: 3px;
                        text-align: center;
                    }
                    del{
                        margin-left:5px;
                        padding-top: 5px;
                        position: absolute;
                    }
                }
                .price{
                    font-size: $font-size-lg;
                    padding-left: 2px;
                }
            }
        }
    }
    .swiper-button-white {
        height: 55px;
        width: 25px;
        position: absolute;
        color: $dark;
        background: $white;
        border-radius: 5px;
        box-shadow: 0 1px 4px;
        &:after{
            font-size: 30px;
        }
        @media screen and (max-width:767px) {
            &:after{
                font-size: 25px;
            }
        }
    }
    .swiper-button-next {
        right: 0rem;
    }
    .swiper-button-prev {
        left: 0rem;
    }
    .btn-offer {
        font-size: 16px;
        font-weight: bold;
        color: $white;
        border-radius: 30px;
        border: 2px solid $white !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        margin: 3rem auto 0 auto;
        &:hover{
            background-color: $white;
            color: $danger;
        }

    }
    .sm-btn{
        display: none;
        @media screen and(max-width:991px) {
            margin: 15px auto;
            display: block !important;
            position: relative !important;
            z-index: 1000;
            font-size: $font-size-lg;
            width: 120px;
        }
    }
}
