$primary: #0074d9;
$danger: #ef394e;
$dark: #434343;
$info: #17a2b8;
$success:#17a2b8;
$light:#eee;
$white:#fff;
$black:#000;

$font-size-lg:14px;
$font-size-sm:12px;

$transition-delay:.3s;

$icon-lg:17px;
$icon-md:15px;
$icon-sm:12px;

$font-bold:700;
$font-normal:400;




